body {
	margin: 0;
}

.background{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;

  background-image: url("./img/background_1.jpg");
  background-size: cover;
}


.others-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}


.spaceship-container {
	width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
}



.spaceship {
  width: 300px;
  height: 300px;

  background-image: url("./img/spaceship.png");
  background-size: contain;
  background-repeat: no-repeat;

  transform: translateY(0);
  transition: all 0.8s ease-in;
}


.hollow-circle {
  width: 20px; 
  height: 20px; 
  border: 15px solid #964c8b; 
  border-radius: 50%; 

  position: absolute;

  transition: all 3s ease-in;
}

.active {
	width: 1500px; 
  height: 1500px; 
  border: 0px solid #964c8b; 
}


.floating {
	position: absolute;
}

.key {
  width: 20px; 
  height: 20px; 
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;

  color : white;
  opacity: 0;
}

.manual {
  width: 100vw;
  text-align: center;
  margin: 50px;
  color: white;
}